#new-review-btn {
    margin-left: 20px;
    padding-top: 10px;
}

.modal-header {
    color: rgb(252, 244, 242);
    background-color: rgb(172, 41, 41);
}

.modal-body {
    background-color: rgb(37, 36, 36);
}

.btn-close {
    --bs-btn-close-opacity: 1;
}

#new-review-modal-submit-btn {
    background-color: rgb(172, 41, 41) !important;
    border-color: rgb(172, 41, 41) !important;
}

.new-review-btn-plus-sign {
    margin-left: 15px;
}

.new-review-btn-text {
    margin-top: 5px;
}

.add-review-submit-btn-text {
    margin-top: 3px;
}

#addReviewModalLabel {
    margin-right: 75px;
}