.appetizer-image-2 {
    padding-bottom: 25px;
    .st0{
        fill:#B67129;
    }
	.st1{
        fill:#A57230;
    }
	.st2{
        fill:#D18C40;
    }
	.st3{
        fill:#BD7C2E;
    }
	.st4{
        fill:#DC9952;
    }
	.st5{
        fill:#E7CB96;
    }
	.st6{
        fill:#D32027;
    }
	.st7{
        fill:#E06C3F;
    }
	.st8{
        fill:#96AE3B;
    }
	.st9{
        fill:#020202;
    }
}