.appetizer-image-3 {
    padding-bottom: 25px;
    .st0{
        fill:#D3E6F5;
    }
	.st1{
        fill:#E0BE77;
    }
	.st2{
        fill:#DE6B26;
    }
	.st3{
        fill:#8A2E1C;
    }
	.st4{
        fill:#F0CC17;
    }
	.st5{
        fill:#FFFFFF;
    }
	.st6{
        fill:#E1E6B0;
    }
	.st7{
        fill:#27823F;
    }
}