.appetizer-image-4 {
    padding-bottom: 25px;
    .st0{
        fill:#9ECC3F;
    }
	.st1{
        fill:#99772C;
    }
	.st2{
        fill:#C7B265;
    }
	.st3{
        fill:#D26065;
    }
	.st4{
        fill:#C7443C;
    }
	.st5{
        fill:#EFE4D8;
    }
	.st6{
        fill:#F7E5A8;
    }
	.st7{
        fill:#FDD377;
    }
	.st8{
        fill:#FDFBE1;
    }
	.st9{
        fill:#C97C29;
    }
	.st10{
        fill:#FEE967;
    }
	.st11{
        fill:#AE2524;
    }
	.st12{
        fill:#2C2628;
    }
	.st13{
        fill:#070305;
    }
	.st14{
        fill:#A09233;
    }
	.st15{
        fill:#BC312A;
    }
	.st16{
        fill:#FDEF95;
    }
	.st17{
        fill:#ED2224;
    }
}