.classic-italian-pizza-image-2 .st0 {
    fill:#E5CB7F;
}

.classic-italian-pizza-image-2 .st1 {
    fill:#F2F4E6;
}

.classic-italian-pizza-image-2 .st2 {
    fill:#DD392A;
}

.classic-italian-pizza-image-2 .st3 {
    fill:#F7DD83;
}

.classic-italian-pizza-image-2 .st4 {
    fill:#4FB448;
}

.classic-italian-pizza-image-2 .st5 {
    fill:#A34824;
}

.classic-italian-pizza-image-2 .st6 {
    stroke:#000000;
    stroke-width:18;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-2 .st7 {
    fill:none;
    stroke:#000000;
    stroke-width:40;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-2 .st8 {
    fill:none;
    stroke:#000000;
    stroke-width:16;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-2 .st9 {
    fill:none;
    stroke:#000000;
    stroke-width:18;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-2 .st10 {
    fill:none;
    stroke:#000000;
    stroke-width:14;
    stroke-miterlimit:10;
}