.classic-italian-pizza-image-4 {
    .st0 {
        fill: #F3B86E;
    }

    .st1 {
        fill: #E9D2B8
    }

    .st2 {
        fill: #FFE1A2;
    }

    .st3 {
        fill: #C73728;
    }

    .st4 {
        fill: #AF4937;
    }
}