.classic-italian-pizza-image-6 {
    .st0{
        fill:#DCB76C;
    }
	.st1{
        fill:#FAE399;
    }
	.st2{
        fill:#D15F27;
    }
	.st3{
        fill:#CE3128;
    }
	.st4{
        fill:#BC9C93;
    }
	.st5{
        fill:#947F62;
    }
	.st6{
        fill:#6D4C1D;
    }
	.st7{
        fill:#030202;
    }
}