
.classic-italian-pizza-image-1 .st0 {
    fill:#CEA562;
}

.classic-italian-pizza-image-1 .st1 {
    fill:#FEF2DF;
}

.classic-italian-pizza-image-1 .st2 {
    fill:#9C6163;
}

.classic-italian-pizza-image-1 .st3 {
    fill:#572013;
}

.classic-italian-pizza-image-1 .st4 {
    fill:#944421;
}

.classic-italian-pizza-image-1 .st5 {
    fill:#B56B3E;
}

.classic-italian-pizza-image-1 .st6 {
    fill:#274323;
}

.classic-italian-pizza-image-1 .st7 {
    fill:#030202;
    stroke:#000000;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st8 {
    fill:#030202;
    stroke:#000000;
    stroke-width:6;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st9 {
    fill:#020202;
    stroke:#000000;
    stroke-width:6;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st10 {
    fill:none;
    stroke:#000000;
    stroke-width:6;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st11 {
    stroke:#000000;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st12 {
    fill:#060505;
    stroke:#000000;
    stroke-width:6;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st13 {
    fill:none;
    stroke:#000000;
    stroke-width:14;
    stroke-miterlimit:10;
}

.classic-italian-pizza-image-1 .st14 {
    fill:#B87836;
}