.classic-italian-pizza-image-5 {
    .st0{
        fill:#C4975D;
    }
	.st1{
        fill:#EADE86;
    }
	.st2{
        fill:#FFFFFF;
    }
	.st3{
        fill:#7F2017;
    }
	.st4{
        fill:#881C1B;
    }
	.st5{
        fill:#876239;
    }
}