.classic-italian-pizza-image-3 {

    .st0 {
        fill: #E3B480;
    }

    .st1{
        fill:#E1CBB3;
    }

	.st2{
        fill:#3B231E;
    }

	.st3{
        fill:#E5B25E;
    }

	.st4{
        fill:#FAA523;
    }

	.st5{
        fill:#FCD8A2;
    }

	.st6{
        fill:#735B42;
    }

	.st7{
        fill:#261411;
    }

	.st8{
        fill:#020202;
    }
}