.dancing-pizza-image-1 {
    padding-top: 125px;
    .st0{
        fill:none;stroke:#FDFEFE;stroke-miterlimit:10;
    }
	.st1{
        fill:#FDFEFE;
    }
	.st2{
        fill:#E93D25;stroke:#FDFEFE;stroke-miterlimit:10;
    }
	.st3{
        fill:#E5D6B7;
    }
	.st4{
        fill:#EBD557;
    }
	.st5{
        fill:#CFAC61;
    }
	.st6{
        fill:#030302;
    }
	.st7{
        fill:#B12525;
    }
}