.dessert-image-4 {
    padding-bottom: 25px;
    .st0{
        fill:#EAE6B9;
    }
	.st1{
        fill:#A75F27;
    }
	.st2{
        fill:#7F2E19;
    }
	.st3{
        fill:#9D2821;
    }
	.st4{
        fill:#D15E66;
    }
}