.dessert-image-2 {
    padding-bottom: 25px;
    .st0{
        fill:#CFD9E9;
    }
	.st1{
        fill:#935940;
    }
	.st2{
        fill:#DEE5ED;
    }
	.st3{
        fill:#9C9A9A;
    }
	.st4{
        fill:#BB9C70;
    }
	.st5{
        fill:#CFA176;
    }
	.st6{
        fill:#E2C599;
    }
}