.Diet-Pickerel-Cola-Logo-Div {
    .st0 {
        fill: #CAD8CA;
        stroke: #000000;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: #83C441;
    }

    .st2 {
        fill: none;
        stroke: #283A1D;
        stroke-width: 65;
        stroke-miterlimit: 10;
    }
}