.home-page-image-3 {
    .st0{
        fill:#F7DA93;
    }
	.st1{
        fill:#F7E8CB;
    }
	.st2{
        fill:#973220;
    }
	.st3{
        fill:#A44426;
    }
	.st4{
        fill:#D8A59A;
    }
	.st5{
        fill:#B17F5C;
    }
	.st6{
        fill:#CB8954;
    }
	.st7{
        fill:#C4A28D;
    }
	.st8{
        fill:#601B0B;
    }
}