#home-page-div {
    #slice-1 {
        text-align: center;
    }
    #slice-2 {
        text-align: center;
    }
    #slice-3 {
        text-align: center;
    }
    #slice-4 {
        text-align: center;
    }
    #home-page-nested-div-1 {
        text-align: center;
        margin-bottom: 25px;
    }
    #home-page-nested-div-2 {
        text-align: center;
        margin-bottom: 25px;
        #home-page-header-div-2 {
            margin-bottom: 25px;
        }
        .crust-ingredients-text {
            margin-top: 25px;
        }
    }
    #home-page-nested-div-3 {
        text-align: center;
        margin-bottom: 25px;
    }
    
    font-family: "arial-black";
    
}