.home-page-image-1 {
    .st0{
        fill:#F5AB69;
    }
	.st1{
        fill:#ECCCAF;
    }
	.st2{
        fill:#F6B86D;
    }
	.st3{
        fill:#FAD199;
    }
	.st4{
        fill:#F3DEC3;
    }
	.st5{
        fill:#B93527;
    }
	.st6{
        fill:#EC6E46;
    }
	.st7{
        fill:#C0582D;
    }
	.st8{
        fill:#CA4D2B;
    }
	.st9{
        fill:#FCE8B9;
    }
	.st10{
        fill:#D2A855;
    }
	.st11{
        fill:#DE9535;
    }
	.st12{
        fill:#D4B582;
    }
	.st13{
        fill:#F2D8AA;
    }
	.st14{
        fill:#F9F2E5;
    }
	.st15{
        fill:#AD5226;
    }
	.st16{
        fill:#F7A21C;
    }
	.st17{
        fill:#5A4530;
    }
	.st18{
        fill:#F0C99A;
    }
	.st19{
        fill:#F4DCC1;
    }
	.st20{
        fill:#D98E35;
    }
	.st21{
        fill:#B16327;
    }
	.st22{
        fill:#573825;
    }
	.st23{
        fill:#E8442D;
    }
	.st24{
        fill:#FFE8CB;
    }
	.st25{
        fill:#F2E6C9;
    }
	.st26{
        fill:#F3F6EB;
    }
	.st27{
        fill:#F3C36D;
    }
	.st28{
        fill:#F7F3EA;
    }
	.st29{
        fill:#B5AD43;
    }
	.st30{
        fill:#653535;
    }
}