.home-page-image-2 {
    .st0{
        fill:#E6D1C1;
    }
	.st1{
        fill:#E1AD25;
    }
	.st2{
        fill:#9B6E5A;
    }
	.st3{
        fill:#D29962;
    }
	.st4{
        fill:#F15822;
    }
	.st5{
        fill:#4A441B;
    }
	.st6{
        fill:#1DB9ED;
    }
	.st7{
        fill:#C4E8F1;
    }
	.st8{
        fill:#FAFDFD;
    }
	.st9{
        fill:#E2AA50;
    }
	.st10{
        fill:#F7CF2D;
    }
	.st11{
        fill:#EF392E;
    }
	.st12{
        fill:#F2E81A;
    }
	.st13{
        fill:#E5CA87;
    }
	.st14{
        fill:#2B3C98;
    }
	.st15{
        fill:#CD2227;
    }
	.st16{
        fill:none;
    }
	.st17{
        font-family:'ClassicComic';
        font-size:80px;
    }
	.st18{
        font-size:85px;
    }
	.st19{
        font-size:95px;
    }
	.st20{
        font-size:36px;
    }
    #awesome-text {
        fill:#C02026; 
        font-family:'Arial-Black'; 
        font-size:24px;
    }
    #yeast-text {
        fill:#C02026; 
        font-family:'Arial-Black'; 
        font-size:21px;
    }
    #one-of-a-kind-text {
        fill:#F2D81D; 
        font-family:'Arial-Black'; 
        font-size:11px;
    }
}