#home-page-div {
    #home-page-nested-div-1 {
        text-align: center;
    }
    #home-page-nested-div-2 {
        text-align: center;
    }
    #home-page-nested-div-3 {
        text-align: center;
    }
}