.card-body {
    background-color: rgb(129, 41, 41);
    height: 750px;
}

.card {
    --bs-border-radius: 0.175rem !important;
    --bs-border-width: 2px !important;
}

.view-btn-icon {
    margin-top: 5px;
    margin-left: 10px;
}

.view-item-btn-text {
    margin-top: 7px;
}
