 
.order-thank-you-icon .st2 {
    fill:#FFFFFF;
    stroke:#000000;
    stroke-miterlimit:10;
}

.order-thank-you-icon .st3 {
    font-family:'CCDropCaseSolid';
}

.order-thank-you-icon .st4 {
  font-size:681.1049px;
}

.order-thank-you-icon .st6{
  fill:#282827;
}

.order-thank-you-icon .st7{
  fill:#FFFFFF !important;
}

.order-thank-you-icon .st8{
  fill:none;
  stroke:#232322;
  stroke-width:60;
  stroke-miterlimit:10;
}

.order-thank-you-icon .st9{
    fill:#B73A26;
}