.st6 {
    fill: "#FFFFFF"
}

.st7 {
    font-family: "CCDropCaseSolid";
}

.st8 {
    font-size: 1246.2411px;
}

.st9 {
    fill: "#FFFFFF";
    stroke: "#000000";
    stroke-miterlimit: 10;
}

.st10 {
    font-size: 1285.476px;
}