#appetizer-show-page-div {
    background-color: rgb(129, 41, 41);
}

#beverage-show-page-div {
    background-color: rgb(129, 41, 41);
    
    .Diet-Pickerel-Cola-Logo-Div {
        padding-bottom: 25px;
        padding-right: 150px;
    }

    .Pickerel-Cola-Logo-Div {
        padding-bottom: 25px;
        padding-right: 150px;
    }
}

#dessert-show-page-div {
    background-color: rgb(129, 41, 41);
}

#pizza-show-page-div {
    background-color: rgb(129, 41, 41);
    #pizza-image-div {
        .classic-italian-pizza-image-5 {
          padding-right: 90px;
        }
    }
}

.back-btn-text {
    margin-top: 5px;
    margin-left: 15px;
}

.add-to-cart-btn-text {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 10px;
}

#appetizer-show-page-div {
    padding-right: 250px;
}

#pizza-show-page-btns-div {
    padding-right: 250px;
}

#beverage-show-page-btns-div {
    padding-right: 250px;
}

#dessert-show-page-btns-div {
    padding-right: 250px;
}

.showPageBackBtn {
    margin-top: 5px;
    margin-left: 45px;;
}