#appetizer-show-page-div {
    background-color: rgb(129, 41, 41);
}

#beverage-show-page-div {
    background-color: rgb(129, 41, 41);
}

#dessert-show-page-div {
    background-color: rgb(129, 41, 41);
}

#pizza-show-page-div {
    background-color: rgb(129, 41, 41);
}

.back-btn-text {
    margin-top: 5px;
    margin-left: 15px;
}

.add-to-cart-btn-text {
    margin-top: 5px;
}

#appetizer-show-page-div {
    padding-right: 250px;
}

#pizza-show-page-btns-div {
    padding-right: 250px;
}

#beverage-show-page-btns-div {
    padding-right: 250px;
}

#dessert-show-page-btns-div {
    padding-right: 250px;
}

.showPageBackBtn {
    margin-top: 5px;
    margin-left: 45px;;
}