#appetizer-show-page-div {
    background-color: rgb(129, 41, 41);
}

#beverage-show-page-div {
    background-color: rgb(129, 41, 41);
}

#dessert-show-page-div {
    background-color: rgb(129, 41, 41);
}

#pizza-show-page-div {
    background-color: rgb(129, 41, 41);
}